@font-face {
    font-family: "Syncopate";
    src: url('./Syncopate-Regular.ttf');
    font-weight: 400;
    font-style:normal;
}

html {
    height: 100%;

}

body {
    background-image: url('./ty-finck-U_2AlnfIGIU-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100% 800px;
    overflow:hidden;
    font-family: "Syncopate";
    color:rgb(220, 207, 207);
    margin: 0;

}

/*STATIC HEADER*/

.templateHeader {
    position:fixed;
    z-index: 1;
    width: 100%;
    font-size: 24px;
    height: 130px;
    background-color: rgba(120,53,19, 30%);
    padding-top: 10px;
    text-align: center;
    padding-bottom: 30px;
}

@media screen and (max-width: 589px) {
    .templateHeader {
        height: 180px;
    }
}

.title {
    margin-top: 36px;
    margin-bottom: 18px;
}

.address {
    margin:0;
}

/* FRONT PAGE STYLING */

#content {
    position: absolute;
    width: 100%;
    height: 800px;
    background-color: rgba(10,10,10, 60%);
}

.frontPage {
    position: relative;
    top: 190px;
} 

.welcome {
    padding-top: clamp(100px, 15%, 170px);
    text-align: center;
    margin: 0;
    font-size: clamp(20px, 3vw, 32px);
    font-weight: 800;
}

.descript {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 14px;
    font-size: clamp(14px, 1.8vw, 20px);
    font-weight: 600;
    width: min(60%, 615px);
}

.hours {
    text-align: center;
    font-size: clamp(14px, 1.8vw, 20px);
    font-weight: 800;
    margin:0;
    padding-bottom: 10px;
}

/* MENU + CONTACT SHARED STYLING */

.page {
    overflow:auto;
    position: fixed;
    height:calc(100% - 209px);
    width: 100%;
    top: 170px;
}

.heading {
    color: rgb(220, 207, 207);
    font-size: 48px;
    text-align: center;
}

@media screen and (max-width: 589px) {
    .frontPage {
        top: 220px;
    }
    .page {
        top: 220px;
        height: calc(100% - 259px);
    }
}

/* MENU STYLING */

.itemHeader {
    font-size: 24px;
    font-weight: 600;
    margin-left: 10%;
}

.gridContainerMenu {
    display: grid;
    grid-template-columns: repeat(auto-fit, 420px);
    gap: 20px;
    margin-left: 10%;
    margin-bottom: 40px;
}

.menuItem {
    display:grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 30px 1fr;
    height: 100px;
    width: 400px;
    background-color:rgba(10,10,10, 70%);
    border: 5px solid rgb(220, 207, 207);
    border-radius: 10px;
    color: rgb(220, 207, 207);
    font-weight: 600;
}

.itemName {
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
}

.itemPrice {
    margin: 0;
    padding-top: 10px;
    padding-right: 10px;
    text-align: end;
    font-size: 18px;
}

.itemDescript {
    grid-area: 2 / 1 / 3 / 3;
    margin: 14px 10px 0 10px;

    font-size: 14px;
}

/* CONTACT STYLING */

.phoneContact, .emailContact, .addressContact {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

#msgFormContact {
    margin-top: 60px;
}

.msgHeaderContact {
    margin-left: 5%;
}

.formDivs {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}

label {
    font-weight: 600;
}

.msgLabel {
    position:relative;
    bottom: 190px;
}

#FullName {
    position:relative;
    height: 20px;
    left: 10px;
    width: min(68%, 600px);
}

#Email {
    position: relative;
    height: 20px;
    left: 66px;
    width: min(68%, 600px);
}

#Message {
    position: relative;
    height: 200px;
    width: min(68%, 600px);
    left: 27px;
}

.submitBtn {
    position:relative;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-family: "Syncopate";
    font-weight: 600;
    color: rgb(39,26,28);
    background-color: rgb(220, 207, 207);
    margin-top: 0px;
    margin-bottom: 40px;
    left: min(68%, 745px);
}

/* NAV BUTTONS SHARED */

.navBarHome button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-family: "Syncopate";
    font-weight: 600;
    color: rgb(39,26,28);
    background-color: rgb(220, 207, 207);
}

/* NAV HOME */

.navBarHome {
    position: fixed;
    display:flex;
    bottom: 60px;
    height: 60px;
    width: 100%;
    justify-content:center;
    gap: 40px;
}

@media screen and (max-height: 610px) {
    .navBarHome {
        top: 220px;
    }
}

/* NAV HIDDEN */

.hidden {
    display:none;
}

/* NAV BUTTON UPPER RIGHT CORNER */

.topRight {
    position: fixed;
    top:200px;
    right: 5%;
}

@media screen and (max-width: 589px) {
    .navBarHome button {
        width: 100px;
    }
    .topRight {
        top:245px;
    }
}


/* STATIC FOOTER */

.templateFooter {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.templateFooter p {
    font-weight: 600;
    color: rgb(220, 207, 207);
    text-align: center;
    background-color: rgb(39,26,28);
    margin: 0;
    padding: 10px;
}

.templateFooter a {
    color: rgb(220, 207, 207);
}

.gitLogo {
    height: 15px;
}