@font-face {
    font-family: "Syncopate";
    src: url('./Syncopate-Regular.ttf');
    font-weight: 400;
    font-style:normal;
}

html {
    height: 100%;

}

body {
    background-image: url('./ty-finck-U_2AlnfIGIU-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100% 800px;
    overflow:hidden;
    font-family: "Syncopate";
    color:rgb(220, 207, 207);
    margin: 0;

}

/*STATIC HEADER*/

.templateHeader {
    position:fixed;
    z-index: 2;
    width: 100%;
    font-size: 24px;
    height: 130px;
    background-color: rgba(120,53,19, 30%);
    padding-top: 10px;
    text-align: center;
    padding-bottom: 30px;
}

@media screen and (max-width: 589px) {
    .templateHeader {
        height: 180px;
    }
}

.title {
    margin-top: 36px;
    margin-bottom: 18px;
}

.address {
    margin:0;
}

/* FRONT PAGE STYLING */

#content {
    position: absolute;
    width: 100%;
    height: 800px;
    background-color: rgba(10,10,10, 60%);
}

.frontPage {
    position: relative;
    top: 190px;
} 

@media screen and (max-width: 589px) {
    .frontPage {
    top: 220px;
    }
}

.welcome {
    padding-top: clamp(100px, 15%, 170px);
    text-align: center;
    margin: 0;
    font-size: clamp(20px, 3vw, 32px);
    font-weight: 800;
}

.descript {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 14px;
    font-size: clamp(14px, 1.8vw, 20px);
    font-weight: 600;
    width: min(60%, 615px);
}

.hours {
    text-align: center;
    font-size: clamp(14px, 1.8vw, 20px);
    font-weight: 800;
    margin:0;
    padding-bottom: 10px;
}

/* STATIC NAV */

.navBar {
    position: fixed;
    display:flex;
    bottom: 60px;
    height: 60px;
    width: 100%;
    justify-content:center;
    gap: 40px;
}

@media screen and (max-height: 610px) {
    .navBar {
        top: 220px;
    }
}

.navBar button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-family: "Syncopate";
    font-weight: 600;
    color: rgb(39,26,28);
    background-color: rgb(220, 207, 207);
}

/* STATIC FOOTER */

.templateFooter {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.templateFooter p {
    font-weight: 600;
    color: rgb(220, 207, 207);
    text-align: center;
    background-color: rgb(39,26,28);
    margin: 0;
    padding: 10px;
}

.templateFooter a {
    color: rgb(220, 207, 207);
}

.gitLogo {
    height: 15px;
}